{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <img src="Images/LOGO_OPTIMHUM_HD_base.gif" width="20%" alt="Logo Optim'hum">
        <h1 class="display-4 text-center">Bonjour à vous !</h1>
        <p class="lead">Bienvenue sur notre site d'évaluation des formations</p>
        <hr class="my-4">
        <form>
            <fieldset>
                <legend class="text-center">Saisissez les informations de votre compte !</legend>
                <div class="form-group">
                    <label for="exampleInputEmail1">Votre adresse mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Saisir votre mail">
                    <small id="emailHelp" class="form-text text-muted">Nous ne communiquons jamais les adresses emails.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
                </div>
                <button type="submit" class="btn btn-primary">Valider vos informations</button>
            </fieldset>
        </form>
    </div>
{% endblock %}